@model Product

@{
    ViewData["Title"] = "Home Page";
}


<form asp-area="Customer" asp-controller="Cart" asp-action="AddToCart" method="post">


    <section class="product-section scroll-reveal">
        <div class="container ">
            <section class="py-5">
                <input type="hidden" name="productId" value="@Model.Id" />
                <div class="container px-4 px-lg-5 my-5">
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/@Model.ImageURL" alt="..." /></div>
                        <div class="col-md-6">
                            <div class="small mb-1"></div>
                            <h1 class="display-5 fw-bolder">@Model.Name</h1>
                            <div class="fs-5 mb-5">
                                <span class="text-decoration-line-through">$45.00</span>
                                <span>@Model.Price</span>
                            </div>
                            <p class="lead">@Model.Description</p>
                            <div class="d-flex">
                                <input type="number" name="quantity" id="quantity" value="1" min="1" />
                                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>
    </section>



</form>